:root {
    --sidebar-bg-color: #B5FFE1;
    --secondary-color: #93E5AB;
    --dark-bg-color: #00241B;
    --active-project-color:hsl(138, 61%, 87%);
    --mint-color: #65B891

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main" 
    "footer footer";
    grid-template-rows: 1fr 8fr 5vh;
    grid-template-columns: 1fr 4fr;
    gap: 4px 0px;
    min-height: 105vh;
    min-width: 100vw;
    background-color: #4E878C;
}

footer {
    grid-area: footer;
}

main {
    background-color: var(--mint-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

main .category-header {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.category-name {
    font-size: 3rem;
}

main .category-header .icon {
    height: 3rem;
    width: auto;
}


footer, header {
    background-color: var(--dark-bg-color);
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--mint-color);
}

aside {
    grid-area: sidebar;
    background-color: var(--sidebar-bg-color);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .category-header {
    font-size: 1.6rem;
    font-weight: 800;
    margin-top: 0.5rem;
}

hr {
    height: 3px;
    background-color: black;
    border: none;
}

.category-header + hr, section button, #project-form {
    width: 200px;
}

main {
    grid-area: main;
}

section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section + .category-header {
    margin-top: 4rem;
}

.action-button {
    height: 50px;
    grid-template-columns: 1rem auto;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 8px;
    text-align: left;
    border: 4px solid var(--secondary-color);
}

.project {
    display: grid;
    grid-template-columns: 2rem auto 2rem 2rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 525;
    height: 36px;
    text-align: left;
    border-radius: 8px;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    display: grid;
    align-items: center;
}

.project:hover, .project.active {
    background-color: var(--active-project-color);
}

.action-button:hover, .action-button.active {
    background-color: var(--secondary-color);
}

.action-button img {
    margin-left: 0.75rem;
    height: 1.5rem;
    width: auto;
}

.project .icon {
    margin-left: 0.25rem;
    height: 1.2rem;
}

.project .options {
    height: 1.1rem;
}

header {
    grid-area: header;
}

header h1 {
    font-size: 4rem;
}

header img {
    width: auto;
    height: 3rem;
    margin-left: 1rem;
}

footer .icon, .task-header .icon, #expanded .icon {
    margin-top: 0.3rem;
    height: 1.5rem;
    width: auto;
}

footer {
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 900;
}

footer, header h1 {
    font-family: "Indie Flower", cursive, sans-serif;
}

.action-button:last-child, .task:last-child {
    margin-bottom: 2rem;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

button:focus {
    outline: none;
}

.task-header, .task-header + hr, .tasks, .to-do-form {
    width: 800px;
}

.tasks {
    padding-top: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task {
    display: grid;
    grid-template-columns: 1rem auto 1rem 1rem 4.5rem 1.5rem;
    gap: 1.2rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 6px;
    background-color:#4E878C;
}

.task.medium {
    border-left: 5px solid yellow;
}

.task.high {
    border-left: 5px solid red;
}

.task.low {
    border-left: 5px solid greenyellow;
}

.task .icon {
    height: 1.5rem;
    width: auto;
}

.to-do-form {
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
}

.to-do-form p {
    display: grid;
    grid-template-columns: auto auto;   
    justify-content: space-between;
    gap: 1rem;
    margin: 0.25rem 0;
}

.to-do-form p > *:nth-child(2) {
    width: 400px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.to-do-form input, .to-do-form, .to-do-form textarea, .to-do-form select {
    font-size: 1.2rem;
}

.to-do-form button {
    margin-top: 1.5rem;
    font-size: 1rem;
    padding: 0.25rem 2rem;
}

form input, .to-do-form textarea, .to-do-form select {
    background: none;
    outline: none;
    border: 4px solid var(--mint-color);
}


form button {
    background-color: greenyellow;
}

ul {
    list-style: none;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}


#expanded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 40vw;
    background-color: paleturquoise;
    border-radius: 16px;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#expanded p {
    width: 50ch;
}

#expanded > div:first-child {
    display: grid;
    grid-template-columns: auto 2rem;
    align-items: center; 
}

#expanded > div:first-child > h1 {
    order: 1;
}

#expanded > div:first-child > button {
    order: 2;
}

#expanded > div > * {
    display: inline;
    margin-right: 0.25rem;
}

#expanded > div > h3,#expanded > div > p {
    font-size: 1.25rem;
    font-weight: 550;
}

#project-form {
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

#project-form input {
    width: 8rem;
    border: none;
    border-bottom: 2px solid black;
}

#project-form button, #project-form input {
    height: 1.5rem;
}

form {
    display: none;
}