:root {
    --sidebar-bg-color: #B5FFE1;
    --secondary-color: #93E5AB;
    --dark-bg-color: #00241B;
    --active-project-color:  	hsl(138, 61%, 87%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main" 
    "footer footer";
    grid-template-rows: 1fr 8fr 5vh;
    grid-template-columns: 1fr 4fr;
    gap: 0.25rem 0.25rem;
    min-height: 105vh;
    min-width: 100vw;
    background-color: #4E878C;
}

footer {
    grid-area: footer;
}

main {
    background-color: #65B891;
}

footer, header {
    background-color: var(--dark-bg-color);
}

header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
    background-color: var(--sidebar-bg-color);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-header {
    font-size: 1.6rem;
    font-weight: 800;
    margin-top: 0.5rem;
}

.category-header + hr, section button {
    width: 200px;
}

main {
    grid-area: main;
}

section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section + .category-header {
    margin-top: 4rem;
}

section button {
    background: none;
}

.action-button {
    height: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1rem auto;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 8px;
    text-align: left;
    border: 4px solid var(--secondary-color);
}

.project {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: none;
    font-size: 1.2rem;
    font-weight: 525;
    height: 36px;
}

button {
    cursor: pointer;
}

.project:hover, .project.active {
    background-color: var(--active-project-color);
}

.action-button:hover, .action-button:active {
    background-color: var(--secondary-color);
}

.action-button img {
    margin-left: 0.75rem;
    height: 1.5rem;
    width: auto;
}

.project .icon {
    margin-left: 0.25rem;
    height: 1.2rem;
}

.project .options {
    margin-left: 2rem;
    height: 1.1rem;
}

header {
    display: flex;
    align-items: center;
    color: #65B891;
    gap: 2rem;
}

header h1 {
    font-size: 4rem;
    font-family: "Indie Flower", cursive, sans-serif;
}

header img {
    width: auto;
    height: 3rem;
    margin-left: 1rem;
}